* {
    outline: 0 !important;
}


body {
    // min-width: 1200px;
    margin: 0;
}


a {
    text-decoration: none !important;
}


button {

    cursor: pointer;

    &.default {
        display: inline-block;
        background-color: #FFFFFF;
        min-width: 120px;
        height: 36px;
        color: #435062;
        font-size: 15px;
        font-weight: bold;
        border: 0;
        border-radius: 3px;
    }

    &.block {
        display: block;
        margin: 0 auto;
    }
}

.line-through {
    text-decoration: line-through;
}

.close {
    cursor: pointer;
}


.hide {
    display: none !important;
}

.pointer-link {
    cursor: pointer !important;
}

.container-fix {
    display: block;
    width: 1200px;
    margin: 0px auto;
}

.page-title {
    display: block;
    font-size: 24px;
    font-weight: 900;
}

.section-row {
    display: block;
}

.text-right {
    text-align: right;
}

.pull-right {
    float: right;
}

.mobile {
    // display: none;
}

.set-mobile {
    font-size: 13px;
    margin-top: 20px;
}

.no-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.full {
    width: 100%;
    display: inline-block;
}

.half {
    width: 50%;
    display: inline-block;
}

.quarter {
    width: 25%;
    display: inline-block;
}

.visual {
    background-position-x: center;
    height: 458px;
    overflow: hidden;
    color: #4E4E4E;
    text-align: center;
    padding-top: 162px;
    box-sizing: border-box;

    > H1 {
        font-size: 50px;
        margin-bottom: 0;
    }

    > DIV {
        font-size: 20px;
    }
}


.my_document_wrap {
    font-family: 'Noto Sans Kr';

    > .lists {
        width: 1115px;
        margin: 0 auto;

        .list-for {
            // background-color: #15376c;
            margin: 15px 1px;
            padding: 10px 0;
            color: #000000;

            > LI {
                font-size: 19px;
                display: inline-block;
                margin-right: 50px;
                padding: 8px 2px;
                min-width: 100px;
                text-align: center;
                cursor: pointer;

                &.active {
                    border-bottom: 4px solid #15376c;
                }
            }
        }

        > .wrap_writingdoc {
            > .writingdoc_top {
                > .package-guide, .subscription-guide {
                    width: 100%;
                    background-color: #f2f2f2;
                    border: solid 1px #707070;
                    border-radius: 0px;
                    text-align: left;
                    font-size: 14px;
                    line-height: 2;
                    color: #787878;
                    padding: 0;
                    margin-bottom: 20px;
                    box-sizing: border-box;

                    DIV {
                        vertical-align: top;
                        box-sizing: border-box;
                    }

                    DIV.title {
                        font-size: 16px;
                        font-weight: bold;
                        color: #4e4e4e
                    }

                    > .cautions {
                        display: inline-block;
                        width: 60%;
                        height: 220px;
                        border-width: 0px 1px 0px 0px;
                        border-color: #707070;
                        border-style: solid;
                        padding: 22px 0 0 27px;

                        > DIV.title {
                            font-size: 24px;
                        }

                        > UL {
                            font-size: 14px;
                            padding: 0 0 0 22px;
                        }
                    }

                    > DIV.usable {
                        width: 40%;
                        height: 220px;
                        color: #0050ce;
                        text-align: center;

                        > DIV {
                            border: 0px;
                            border-color: #435062;
                            border-style: dashed;
                            height: 60%;
                            padding: 10px 0 0;
                        }

                        > DIV:nth-child(1), > DIV:nth-child(2) {
                            border-bottom: #707070 1px solid;
                        }

                        > DIV:nth-child(1), > DIV:nth-child(3) {
                            border-right: #707070 1px solid;
                        }

                        > DIV:nth-child(3), > DIV:nth-child(4) {
                            height: 40%;
                        }

                        > .usable-categorys {
                            > UL {
                                list-style: none;
                                margin: 0;
                                padding: 0px;
                            }
                        }

                        > .usable-period {
                            > div {
                                > DIV {
                                    line-height: 20px;
                                }

                                .month {
                                    font-weight: bold;
                                }

                                .period {
                                    font-size: 12px;
                                }

                                .days-left {
                                    color: #ff2e16;
                                }
                            }
                        }

                        > .usable-count, .usable-write {
                            color: #787878;

                            > DIV > span:first-child {
                                color: #0050ce;
                                font-size: 20px;

                            }
                        }
                    }

                    > .package-actions, .subscription-actions {
                        border-top: 1px solid #707070;
                        padding: 18px 27px;

                        > DIV {
                            display: inline-block;
                        }

                        > .title {
                            font-size: 24px;
                        }

                        > .document-selector {
                            margin: 8px 0 0 90px;

                            > LABEL {
                                font-size: 17px;
                                padding-left: 40px;
                                padding-right: 13px;
                            }

                            > SELECT {
                                width: 230px;
                                height: 36px;
                                font-size: 15px;
                                padding-left: 10px;
                                // color:#c9c9c9;
                                // > OPTION:first-child {
                                //     padding-left: 5px;
                                //     color: #c9c9c9;
                                // }
                                // > OPTION:checked {
                                //     color:#707070;
                                // }
                            }
                        }

                    }

                    > .add-document {
                        > BUTTON {
                            width: 83px;
                            height: 36px;
                            margin: 7px 0 0 25px;
                            background-color: #15376c;
                            color: #FFFFFF;
                            font-size: 15px;
                        }
                    }

                    > .package-actions.add-package {
                        padding-left: 150px;
                        font-size: 17px;
                        color: #4e4e4e;

                        > BUTTON {
                            width: 200px;
                            height: 36px;
                            margin: 7px 0 0 60px;
                            font-size: 15px;
                            background: none;
                            border: none;
                            color: #787878;
                            text-decoration: underline;
                        }

                    }
                }

                > .subscription-guide {
                    > DIV.usable {
                        > DIV {
                            height: 100%;
                            padding: 30px 0 0;
                        }

                        > DIV:nth-child(1), > DIV:nth-child(2) {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}

.dialog-packagecode {
    .title {
        background-color: #15376c;
        text-align: center;
        color: #FFFFFF;
        font-weight: bold;
        padding: 15px 0;

        > h2 {
            color: #FFFFFF;
        }
    }

    .MuiDialog-paper {
        border-radius: 0;
        border: 1px #435062 solid;
    }

    .content {
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        padding: 20px;

        > input {
            width: 317px;
            height: 34px;
            border-radius: 3px;
            border: 1px solid #707070;
            margin: 10px auto 0;
            padding: 0 8px;
            box-sizing: border-box;
        }
    }

    .buttons {
        justify-content: center;
        padding: 0 20px 20px;

        > BUTTON {
            width: 98px;
            height: 34px;
            border-radius: 3px;
            border: solid 1px #15376c;
            padding: 0;
            margin: 0 15px;
        }

        > BUTTON.ok {
            background-color: #15376c;
            color: #FFFFFF;
        }
    }
}

.no-contents {
    .package-list {
        width: 100%;
        height: 270px;
        border-radius: 3px;
        border: dashed 1px #707070;
        padding-top: 100px;
        box-sizing: border-box;
        font-size: 14px;

        A {
            width: 185px;
            height: 36px;
            background-color: #15376c;
            font-size: 15px;
            color: #FFFFFF;
            border-radius: 3px;
            padding: 6px 15px;
            box-sizing: border-box;
            display: block;
            margin: 30px auto;
        }
    }
}

.package-cautions {
    color: #787878;
    font-size: 16px;
    line-height: 25px;
    margin: 30px 20px;

    > LI {
        text-align: left;
    }
}


.find_user_personal {
    width: 350px;
    margin: 0 auto;

    .wrap_finduser_findid {
        padding-left: 72px;
    }

    .wrap_finduser_title {
        margin-left: 0px;
    }

    .wrap_signup_personal_pw_section {
        margin: 10px 0px;

        > .signup_personal_pw {
            width: 100%;
        }
    }

    .wrap_signup_personal_phone_btn {
        text-align: center;
    }
}